/* #stage>#firstPlace {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
} */

#stage>#firstPlace>#sheriffShow {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00000083;
    z-index: 155;
}

#stage>#firstPlace>#sheriffShow>#sheriffTalk {
    position: relative;
    width: 100%;
    height: 60%;
    background: url(/img/partOneLevelOne/sheriffMonolouge.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 280px;
    direction: rtl;
}

#stage>#firstPlace>#sheriffShow>#sheriffTalk>p {

    font-size: 18px;
    font-weight: 700;
    font-family: roya;

    line-height: 30px;
    position: absolute;
    top: 10px;
    right: 40px;
}

@font-face {
    font-family: roya;
    src: url(../fonts/Roya.ttf);
}

#stage>#firstPlace>#officeHeader {
    width: 100%;
    height: 8%;
    background: url(../img/globle/headerWood.png) 50% no-repeat;
    background-size: 100% 105%;
    position: relative;
}

#stage>#firstPlace>#officeHeader>#backButtonLand {
    width: 17%;
    height: 75%;
    background: url(../img/globle/backButton.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 5px;
    top: 4px;
}

#stage>#firstPlace>#officeHeader>#settingButton {
    width: 14%;
    height: 80%;
    background: url(../img/globle/settingButton.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 280px;
    top: 4px;
}

#stage>#firstPlace>#officeHeader>#findHint {
    width: 12%;
    height: 85%;
    background: url(../img/globle/findHintIcon.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 190px;
    top: 3px;
}

#stage>#firstPlace>#officeHeader>#skipHint {
    width: 10%;
    height: 65%;
    background: url(../img/globle/skipHintIcon.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 100px;
    top: 8px;
}

#stage>#firstPlace>#officeContent {
    width: 100%;
    height: 78%;
    background: url(../img/partOneLevelOne/partOneBackground.png) 50% no-repeat;
    background-size: 100% 102%;
    position: relative;
}

#stage>#firstPlace>#officeFooter {
    width: 100%;
    height: 14.5%;
    background: url(../img/globle/footerWood.png) 50% no-repeat;
    background-size: 100% 105%;
    position: relative;
}

#stage>#firstPlace>#officeFooter>#leftButtonFooter {
    width: 15%;
    height: 30%;
    /* border: 1px solid #ccc;
    background: #cccccc67;
    border-radius: 0 10px 0 0; */
    position: absolute;
    bottom: 5px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 1000;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

#stage>#firstPlace>#officeFooter>#rightButtonFooter {
    width: 15%;
    height: 30%;
    /* border: 1px solid #ccc;
    background: #cccccc67;
    border-radius: 10px 0 0 0; */
    position: absolute;
    bottom: 5px;
    right: 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 1000;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

#stage>#firstPlace>#officeFooter>#objectSlider {
    width: 180%;
    height: 80%;
    position: absolute;
    left: 0;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.items {
    width: 60px;
    height: 60px;
    margin-right: 35px;
    background: url(../img/partOneLevelOne/footerBoarder.png) no-repeat;
    background-size: 100% 100%;
    float: left;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.phoneFoot>.phoneImg {
    width: 100%;
    height: 100%;
    background: url(../img/partOneLevelOne/Phone.png) 30% 70% no-repeat;
    background-size: 60% 50%;
    position: relative;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.phoneFoot>.phoneImg>#phoneTick {
    width: 40px;
    height: 30px;
    background: url(../img/partOneLevelOne/greenTick.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 20px;
    display: none;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.gunFoot>.gunImg {
    width: 100%;
    height: 100%;
    background: url(../img/partOneLevelOne/miniGun.png) 30% 70% no-repeat;
    background-size: 60% 50%;
    position: relative;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.gunFoot>.gunImg>#gunTick {
    width: 40px;
    height: 30px;
    background: url(../img/partOneLevelOne/greenTick.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 20px;
    display: none;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.starFoot>.starImg {
    width: 100%;
    height: 100%;
    background: url(../img/partOneLevelOne/star.png) 30% 70% no-repeat;
    background-size: 60% 60%;
    position: relative;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.starFoot>.starImg>#starTick {
    width: 40px;
    height: 30px;
    background: url(../img/partOneLevelOne/greenTick.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 20px;
    display: none;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.weedFoot>.weedImg {
    width: 100%;
    height: 100%;
    background: url(../img/partOneLevelOne/greenFlower.png) 30% 70% no-repeat;
    background-size: 60% 60%;
    position: relative;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.trashCanFoot>.trashImg {
    width: 100%;
    height: 100%;
    background: url(../img/partOneLevelOne/fullTrash.png) 30% 70% no-repeat;
    background-size: 60% 50%;
    position: relative;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.trashCanFoot>.trashImg>#trashTick {
    width: 40px;
    height: 30px;
    background: url(../img/partOneLevelOne/greenTick.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 20px;
    display: none;
}


#stage>#firstPlace>#officeFooter>#objectSlider>.dastbandFoot>.dastbandImg {
    width: 100%;
    height: 100%;
    background: url(../img/partOneLevelOne/handcuffs.png) 30% 70% no-repeat;
    background-size: 60% 50%;
    position: relative;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.dastbandFoot>.dastbandImg>#dastbandTick {
    width: 40px;
    height: 30px;
    background: url(../img/partOneLevelOne/greenTick.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 20px;
    display: none;
}

#stage>#firstPlace>#officeFooter>#objectSlider>.weedFoot>.weedImg>#weedTick {
    width: 40px;
    height: 30px;
    background: url(../img/partOneLevelOne/greenTick.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 20px;
    display: none;
}

#stage>#firstPlace>#sheriffInOffice {
    border: 1px solid red;
    width: 150px;
    height: 300px;
    background: url("../img/");
    position: absolute;
    bottom: 0;
}

/* office content  */

#officeContent>.cases {
    cursor: pointer;
    background-color: red
}

#officeContent>.officeStar {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 18px;
    left: 280px;
    background: url(../img/partOneLevelOne/star.png) no-repeat;
    background-size: 100% 100%;
}

#officeContent>.officePhone {
    width: 55px;
    height: 45px;
    position: absolute;
    top: 395px;
    left: 75px;
    background: none;
}

#officeContent>.officeHandcuffs {
    width: 28px;
    height: 13px;
    transform: rotate(20deg);
    position: absolute;
    top: 212px;
    left: 284px;
    background: url(../img/partOneLevelOne/handcuffs.png) no-repeat;
    background-size: contain;
}

#officeContent>.officeGun {
    width: 25px;
    height: 20px;
    transform: rotate(290deg);
    position: absolute;
    top: 275px;
    left: 260px;
    background: url(../img/partOneLevelOne/miniGun.png)no-repeat;
    background-size: contain;
}

#officeContent>.drawerPic {
    cursor: grab;
    width: 50px;
    height: 58px;
    position: absolute;
    top: 265px;
    left: 236px;
    background: url(../img/partOneLevelOne/drawer.png)no-repeat;
    background-size: contain;
}

#officeContent>.officeTrashCan {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 460px;
    left: 236px;
    background: url(../img/partOneLevelOne/emptyTrash.png)no-repeat;
    background-size: contain;
}

#officeContent>.officeTrashCan2 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 460px;
    left: 236px;
    background: url(../img/partOneLevelOne/fullTrash.png)no-repeat;
    background-size: contain;
}


#officeContent>.officeWeed {
    width: 25px;
    height: 35px;
    position: absolute;
    top: 148px;
    left: 153px;
    background: url(../img/partOneLevelOne/greenFlower.png)no-repeat;
    background-size: contain;
}

#officeContent>.officePaper {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 230px;
    left: 65px;
    background: url(../img/partOneLevelOne/paper.png)no-repeat;
    background-size: contain;

}

#officeContent>.officePaper2 {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 230px;
    left: 65px;
    background: url(../img/partOneLevelOne/paperTrash.png)no-repeat;
    background-size: contain;
    cursor: grab;

}

#officeContent>.hatPic {
    cursor: grab;
    width: 55px;
    height: 30px;
    transform: rotate(15deg);
    position: absolute;
    top: 200px;
    left: 275px;
    background: url(../img/partOneLevelOne/hat.png)no-repeat;
    background-size: contain;

    transition: 1s;
}

/* #stage>.secondPlace {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: red;
} */