body {
    background: #000;
    display: flex;
    justify-content: center;
}

#stage {
    background: #ccc;
    width: 330px;
    height: 700px;
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* #stage>div.sec {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: red;
} */