#stage>#menuBar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#stage>#menuBar>#menuHeader {
    width: 100%;
    height: 12%;
    background: url(../img/globle/slideMenuHeader.png) 50% no-repeat;
    background-size: 100% 105%;
    position: relative;
}

#stage>#menuBar>#menuHeader>#shopButton {
    width: 20%;
    height: 80%;
    background: url(../img/globle/shopButton.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 13px;
    top: 7px;
}

#stage>#menuBar>#menuHeader>#setting {
    width: 20%;
    height: 80%;
    background: url(../img/globle/settingButton.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 251px;
    top: 6px;
    cursor: pointer;
}

#stage>#menuBar>#menuSlider {
    /* border: 1px solid blue; */
    width: 400%;
    height: 73.5%;
    position: relative;
    left: 0%;
}

#stage>#menuBar>#menuSlider>.items {
    width: 25%;
    height: 100%;
    background: url(../img/globle/partOneSlide.png) 50% no-repeat;
    background-size: 100% 101%;
    float: left;
}

#stage>#menuBar>#menuSlider>.level1>#level1Img {
    width: 81%;
    height: 46%;
    background: url(../img/globle/partOneSlideImg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 32px;
    cursor: pointer;
}

#stage>#menuBar>#menuSlider>.level2>#level2Img {
    width: 81%;
    height: 46%;
    background: url(../img/globle/partTweSlideImg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 32px;
    top: 1px;
}

#stage>#menuBar>#menuSlider>.level3>#level3Img {
    width: 81%;
    height: 46%;
    background: url(../img/globle/partThreeSlideImg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 32px;
    top: 1px;
}

#stage>#menuBar>#menuFooter {
    width: 100%;
    height: 14.5%;
    background: url(../img/globle/footerWood.png) 50% no-repeat;
    background-size: 100% 105%;
}

#stage>#menuBar>#menuFooter>#otherGamesButton {
    width: 110px;
    height: 110px;
    background: url(../img/globle/otherGamesButtton.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 210px;
    top: -15px;
}

#settingPage {
    width: 100%;
    height: 100%;
    background: url(../img/globle/settingMenu.png) 50% 0 no-repeat;
    background-size: 80% 70%;
    position: absolute;
    top: -700px;
    left: 0px;
    /* visibility: hidden; */
    z-index: 1;
}

#settingPage>#closePage {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 190px;
    left: 260px;
    cursor: pointer;
}

#settingPage>#sound {
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background: url(../img/settingImg/gameSoundsOff.png) no-repeat;
    background-size: 53px 53px;
    position: absolute;
    top: 234px;
    left: 75px;
    cursor: pointer;
}

#settingPage>#music {
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background: url(../img/settingImg/gameMusicOff.png) no-repeat;
    background-size: 53px 53px;
    position: absolute;
    top: 299px;
    left: 75px;
    cursor: pointer;
}

#stage>#menuBar>#leftButtom {
    width: 50px;
    height: 70px;
    background: url("../img/left.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 300px;
}

#stage>#menuBar>#rightButtom {
    width: 50px;
    height: 70px;
    background: url("../img/right.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 280px;
    top: 300px;
}